.drop-file-input {
    position: relative;
    width:100%;
    position:fixed;
    bottom:-100px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    height: 250px;
    left:0px;
    width:350px;
    transition: 0.4s;
    box-shadow: var(--primary-box-shadow);
    background-color: white;
    /* height:600px */
    /* border: 1px solid #f9f9f9; */
    /* background: var(--primary-gradient); */
    
}
.drop-file-input:hover{
   bottom:0px;
}

.panelX{
    justify-content: center;
    flex-direction: column;
    display: flex;
    width:100%;
    /* align-items: center; */
}
.listFile{
    /* border:1px solid #23f7db; */
    /* float:right; */
    margin-top: 30px;
    right:0px;
    margin-top:0px;
    height:auto;
    overflow-x:hidden;
    overflow-y: auto; 
    background-color:white;
    width:calc(100% - 260px );
    /* box-shadow: 0px 0px 9px 0px aliceblue; */
}

.notfound h2{
     font-size:28px;
     color:grey;

}
.drop-file-input input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
    opacity: 0.9;
}

.drop-file-input__label {
    text-align: center;
    color: var(--txt-second-color);
    font-weight: 600;
    padding: 10px;
}

.drop-file-input__label img {
    width: 100px;
    height:100px;
}



.drop-file-preview p {
    font-weight: 500;
}
.drop-file-preview__title {
    padding: 12px 10px;
    /* display: block; */
    width:95%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    background-color: white;
    /* margin: 10px auto; */
    margin-bottom: 10px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
    color:rgb(39, 38, 38); /* Custom text color */
    font-size: 16px; /* Custom font size */
    font-weight: bold; /* Custom font weight */
}


.drop-file-preview__item:hover{
    background-color: aliceblue;
}

.drop-file-preview__item {
    display: flex;
    flex-direction: row;
    background-color:none;
    cursor: pointer;
    border: 1px solid #f9f9f9;
    color:black;
    width:100%;
    padding: 10px;
    outline:1px solid aliceblue;
    text-align: left;
    border-radius: 2px;
}

.drop-file-preview__item img {
    width: 50px;
    margin-right: 20px;
}

.drop-file-preview__item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drop-file-preview__item__del {
   padding:4px 4px;
   justify-content: center;
   align-items: center;

}

.drop-file-preview__item:hover .drop-file-preview__item__del {
    opacity: 1;
}

@media (max-width: 768px) {
    .drop-file-input {
        width:100%;
        overflow-y: auto;
    }
    .listFile{
        z-index: 1;
        overflow-y: auto;
        height:100%;
    }
}
