.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    /* box-shadow: 0px 0px 9px 0px rgb(231, 231, 233); */
    border-bottom:1px solid #ddd;
    color: #222121;
    padding: 12px;
  }
  
  .logo {
    font-size: 24px;
    font-weight:bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
  }
  
  .nav-link {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .nav-link:last-child {
    margin-right: 0;
  }
  .dropdown{
    position: absolute;
    background-color: aliceblue;
    border: 1px solid #ddd;
    border-radius: 3px;
   right:10px;
   top:60px; 
  }
  .dropdown ul{
    list-style-type: none;

  }
  .dropdown ul li{
    padding: 5px 5px;
    margin-left:-40px;
  }

  .dropdown ul li button{
    border:none;
    outline:none;
    background-color: aliceblue;
    cursor: pointer;
    display: block;
    padding: 4px 4px;
  }