.video-player-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  video {
    width: 100%;
  }
  
  .video-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .controls {
    display: flex;
    align-items: center;
  }
  
  .progress-bar {
    width: 60%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    margin: 0 10px;
  }
  
  .progress {
    height: 100%;
  }
  
  .current-time,
  .duration {
    margin: 0 5px;
  }
  
  .video-details {
    flex-grow: 1;
    padding-right: 20px;
  }
  
  h2 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  p {
    margin: 5px 0;
  }
  
  button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    outline: none;
  }
  
  button:hover {
    text-decoration: underline;
  }
  